<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" verbose="5">
<parameter name="url" value="http://leaftaps.com/opentaps/control/main"/>
<parameter name="username" value="DemosalesManager"/>
<parameter name="password" value="crmsfa"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="leaftab.CreateLead"/>
      <class name="leaftab.MergeLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
